* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: 'Open Sans', sans-serif;
}
.my-container {
    width: 100%;
    margin-top: 10%;
    border: 3px solid black;
    border-radius: .9rem;
    background-color: white;
}
.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
    border: 1px solid pink;
    border-radius: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: .9rem;
}
a:hover {
    background-color: pink;
    color:black;
}
#nickname {
    margin: 1rem;
    padding: .5rem;
    border: 1px solid pink;
    border-radius: 1rem;
}
#nickname:focus {
    background-color: pink;
    outline: none;
    color: black;
}